body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #FFF;
}
h1 { color: #900; }
p { margin-left: 40px;}
a:link {
  color: #060;
  font-weight: bold;
}
a:visited { color: #096; }
a:hover, a:active { color: #060; }
