/* Page infrastructure */
body {
  background-color:#EFECCA;
  color:#000;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}
#wrapper {
  width:720px;
  margin:0 auto;
  background-color:#FFF;
  background-image:url(../../images/grand_canyon.jpg);
  background-repeat:no-repeat;
  background-position:bottom;
  border-left:2px solid #D8D0AC;
  border-right:2px solid #D8D0AC;
}
#footer {
  margin:100px 10px 0 auto;
  text-align:right;
  text-indent:0;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color:#468966;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin:10px;
  clear:both;
}
h1 {
  font-size:220%;
  font-variant:small-caps;
  text-align:center;
  word-spacing:0.2em;
  letter-spacing:0.05em;
  margin-top:0;
  background-image:url(../../images/flower1.png);
  background-repeat:no-repeat;
  background-position:70px;
  padding:13px 0;
}
h1 + p, h2 + p, h3 + p {
  text-indent:0;
}
/* Main text */
p, table {
  font-size:14px;
}
p {
  text-align:justify;
  text-indent:30px;
  line-height:1.4;
  margin:0 10px 0.4em 45px;
}
a {
  font-weight:bold;
  text-decoration:none;
}
a:link {
  color:#B64926;
}
a:visited {
  color:#FFB03B;
}
a:hover, a:active {
  color:#8E2800;
  text-decoration:underline overline;
}
#tr_quote {
  margin:37px 58px 0 361px;
  width:275px;
  background-color:#FFFEF1;
  background-image:url(../../images/flower2.png);
  background-repeat:no-repeat;
  background-position:97% 95%;
  border:solid 3px;
  border-top-color:#CAC7B0;
  border-right-color:#606249;
  border-bottom-color:#606249;
  border-left-color:#CAC7B0;
  padding:10px;
}
blockquote p {
  font-style:italic;
  text-indent:0;
  white-space:pre-line;
  margin-left:0;
  margin-right:0;
}
table {
  margin:0 auto;
}
caption {
  font-size:18px;
  color:#468966;
  font-weight:bold;
  text-transform:capitalize;
}
th {
  font-weight:normal;
  text-align:right;
}
/* Image alignment */
.floatleft {
  float:left;
  margin:3px 8px 3px 0;
}
.floatright {
  float:right;
  margin:3px 0 3px 8px;
}
.imgcentered {
  margin:3px auto;
  display:block;
}
.floatleft, .floatright, .imgcentered {
  font-weight:bold;
  text-align:center;
  border:#468966 double 5px;
}
img {
  
}
.reverse {
  color:#FFF0A5;
  background-color:#333;
  padding:3px 5px;
  display:inline-block;
  margin-bottom:10px;
}